
:root[data-theme="light"] {
  --base: white;
  --zagalovok: red;
  --blue: #1551e5;
  --text: #434345;
}
:root[data-theme="dark"] {
  --base: black;
  --zagalovok: white;
  --blue: #434345;
  --text: white;
}
/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    */
/*  }*/
/*}*/
/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    --base: white;*/
/*    --zagalovok: red;*/
/*    --blue: #1551e5;*/
/*    --text: #434345;*/
/*  }*/
/*}*/
